/* ブラウザによるデフォルトのmarginとpaddingの差異を
無くすために、ユニバーサルセレクタを利用して初期化をします。 */
html {
  height: 100%;
  width: 100%;
  font-family:Arial;
}
* {
	margin:0;
	padding:0;
}
body{
	color: #333333;
	background-color: #FFFFFF;
	font-size: 100%;
	line-height: 1.7;
	-webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
.margin {
  margin: 10px;
  height: 100%;
}
.container {  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px repeat(5, 1fr);
  gap: 2px 2px;
  grid-auto-flow: row;
  text-align: center;
  margin: 5px;
  padding: 3px;
  background-color: rgb(40,44,52);
}
.containertext {
  text-align: center;
}
.container p {
  height: 60px;
  width: auto;
  padding: 10px 10px;
  background-color: #FFFFFF;
  font-weight: bold;
}
.container li {
  width: auto;
  text-align: center;
  background-color: #FFFFFF;
  color: rgb(40,44,52);
  list-style: none;

}
